<table>
  <caption style="caption-side top">
    <em
      ><small>Where <code>PREFIX</code> is a name to identify the
      application&mdash;preferably Rhize&mdash; and
      <code>YOUR_DOMAIN</code>
      is the domain you run Rhize on. For example:
      <code>rhize-ui.example.com</code>.</small></em
    >
  </caption>
  <thead>
    <tr>
      <th>Service</th>
      <th>Domain</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Admin UI</td>
      <td><code>&lt;PREFIX&gt;-ui.&lt;YOUR_DOMAIN&gt;</code></td>
    </tr>
    <tr>
      <td>Keycloak</td>
      <td><code>&lt;PREFIX&gt;-auth.&lt;YOUR_DOMAIN&gt;</code></td>
    </tr>
    <tr>
      <td>GraphQL</td>
      <td><code>&lt;PREFIX&gt;-api.&lt;YOUR_DOMAIN&gt;</code></td>
    </tr>
    <tr>
      <td>NATS</td>
      <td><code>&lt;PREFIX&gt;-mqtt.&lt;YOUR_DOMAIN&gt;</code></td>
    </tr>
    <tr>
      <td>Grafana</td>
      <td><code>&lt;PREFIX&gt;-grafana.&lt;YOUR_DOMAIN&gt;</code></td>
    </tr>
  </tbody>
</table>
