<ul>
<li> Provide a highly reliable means to collect manufacturing data from varied sources.</li>
<li> Standardize this data in a way that accurately places it within an <em>event</em> in the context of an entire manufacturing operation.</li>
<li>Offer a programmable engine to write custom logic to process the data and send it between systems.</li>
<li>Support being built on top of it, where Rhize serves as the backend for MES/MOM frontends.</li>
<li>Expose this system through an interface that is accessible to the widest number of stakeholders in the manufacturing operation.</li>
</ul>
