<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Domain</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Admin UI</td>
      <td><code>rhize-ui.&lt;YOUR_DOMAIN&gt;</code></td>
    </tr>
    <tr>
      <td>Keycloak</td>
      <td><code>rhize-auth.&lt;YOUR_DOMAIN&gt;</code></td>
    </tr>
    <tr>
      <td>GraphQL</td>
      <td><code>rhize-api.&lt;YOUR_DOMAIN&gt;</code></td>
    </tr>
    <tr>
      <td>NATS</td>
      <td><code>rhize-mqtt.&lt;YOUR_DOMAIN&gt;</code></td>
    </tr>
    <tr>
      <td>Grafana</td>
      <td><code>rhize-grafana.&lt;YOUR_DOMAIN&gt;</code></td>
    </tr>
  </tbody>
</table>
