<!--- variables based on shortcode argument -->
{{ $arg := (.Get 0) }}

<!-- range over data file -->
{{ range $.Site.Data.versionCompat }}

<!-- Find matches -->
{{ if eq ( .version | lower) ( $arg | lower ) }}

<div class="notices note">
  <span class="type">Note</span>
  Rhize v{{ $arg }} has been tested to work with the following third-party applications:
  <ul>
    {{ with .nats }}<li> NATS: {{ . }}</li>{{ end }}
    {{ with .tempo }}<li> Tempo: {{ . }}</li> {{ end }}
    {{ with .grafana }}<li> Grafana: {{ . }}</li> {{ end }}
    {{ with .keycloak }}<li> Keycloak: {{ . }}</li> {{ end }}
    {{ with .keycloak_postgres }}<li> Keycloak Postgres: {{ . }}</li> {{ end }}
    {{ with .loki }}<li> Loki: {{ . }}</li> {{ end }}
  </ul>
</div>
    {{end}}
{{ end }}
